name: Publish

on:
  push:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

      with:
        fetch-depth: 0

    - uses: actions/setup-node@v5
      with:
        node-version: 20

        registry-url: 'https://registry.npmjs.org'

    - run: npm ci
    - run: |
        git config user.email "$(git show -s --format=%ae)"
        git config user.name "$(git show -s --format=%an)"
    - run: npm run release

    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - uses: kellyselden/move-semver-tags-action@v7
      with:
        copy-annotations: true
